<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <!--<= render 'users/info' %>-->
      <table class='table'>
      <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
      <tr>
    	  <th>name</th>
	      <th><%= @user.name %></th>
      </tr>
      <tr>
	      <th>introduction</th>
	      <th><%= @user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th><%= link_to @user.followings.count,user_followings_path(@user.id) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to @user.followers.count,user_followers_path(@user.id) %></th>
      </tr>
    </table>
      <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>




      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@user) do %>
            <%= image_tag @user.get_profile_image(100,100) %><br>
            <%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
            <!--< if @book.user_id == current_user.id %>-->
            <!--  <td><= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>-->
            <!--  <td><= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>-->
            <!--< else %>-->
            <!--  <td colspan="2"></td>-->
            <!--< end %>-->
          <td><% if @book.favorited_by?(current_user) %>
              <p class="text-danger">
                <%= link_to book_favorites_path(@book),method: :delete, class:"text-danger" do %>
                ♥︎<%= @book.favorites.count %>
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to book_favorites_path(@book),method: :post do %>
                ♡<%= @book.favorites.count %>
                <% end %>
              </p>
                <% end %>
          </td>
          <td>
            <p>コメント数:<%= @book.book_comments.count %></p>
          </td>
        </tr>
      </table>

      <table class="table table-borderless">
        <% @book.book_comments.each do |book_comment| %>
        <tr>
          <td>
              <p><%= image_tag book_comment.user.get_profile_image(50,50) %></p>
              <%= book_comment.user.name %>
          </td>
          <td>
            <%= book_comment.comment %>
          </td>
          <td><% if book_comment.user == current_user %>
          <%= link_to 'Destroy', book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
          </td>
            <% end %>
        </tr>
      </table>



      <%= form_with model:[@book,@book_comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control book_comment', rows:'5' %>
        </div>
        <div class="form-group">
          <%= f.submit "送信" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>